<script type="text/template" id="pageddatawidgettemplate">
  <div class="pageddataall">
    <div class="pagedtop">
      <input type="text" class="pagedtype" placeholder="Record type"/>
      <div class="movehandle">&nbsp;</div>
      <br/>
      <button class="addpaged button black">Add Record</button> <br/>
      <div class="pagedlist"></div>      
    </div>
    <div class="toggletop">↕</div>
    <div class="editcontrols">
      <button class="button black savepaged">Save</button>
    </div>
    
    <div class="widgetcontent">
    </div>
    <ul class="displays"></ul>
  </div> 
</script>


<script type="text/template" id="pageddatatemplate">
  <li>
    <div class="pageddatawrapper">
      <div id="makepageddata" title="Paged data (i.e. blog entries, product records, etc.)" class="pageddatawidget pgdtoolwidget designwidget">
        <div class="pageddataicon" data-name="pageddata">          
           <img src="/images/form.png"/>
        </div>
        
      </div>
    </div>
  </li>
</script>