<script type="text/template" id="pageddatawidgettemplate">
  <div class="pageddataall" data-collection="Blog">
    <div class="pgdatatabs">
      <ul class="designonly">
        <li><a href="#pagedtop">Posts</a></li>
        <li><a href="#pgtab2" id="templatehead">Template</a></li>
      </ul>
      
      <div id="pagedtop" class="designonly">        
        <input type="text" class="pagedtype" placeholder="Record type" value="Blog"/>
        <div class="movehandle">&nbsp;</div>
        <br/>
        <button class="addpaged button black">Add Post</button>
        <a class="changetype" href="javascript:changetype()">Change post type</a><br/>
        <div class="pagedlist"></div>      
      </div>

      <div id="pgtab2">
        <div class="editcontrols designonly">
         <button class="button black savepaged">Save</button>
        </div>
       
        <div class="widgetcontent pgdatacontent">
          
          
          
        <div class="datefieldall field ui-resizable ui-draggable" style="position: absolute; width: 331px; height: 10px; left: -4px; top: -5px; " data-fieldname="modified">
        <div class="fieldname">modified</div>
        <div class="rename">rename</div>
        <input class="dateinput" type="datetime-local" style="display: none; ">
        <div class="datetimedisplay"></div>
        <div class="datetimeeditarea">{{modified}}</div>
        </div> <!-- pagesall --><div class="textfieldall field ui-resizable ui-draggable" style="position: absolute; width: 332px; height: 10px; left: -3px; top: 40px; " data-fieldname="title">
        <div class="fieldname">title</div>
        <div class="rename">rename</div>
        <input class="textinput" type="text" style="display: none; ">
        <div class="texthtmldisplay"></div>
        <div class="texthtmleditarea" style="display: block; ">{{title}}</div>
        </div> <!-- pagesall --><div class="htmlfieldall field ui-resizable ui-draggable" style="position: absolute; top: 89px; left: -5px; width: 549px; height: 197px; " data-fieldname="article">
        <div class="fieldname">article</div>
        <div class="rename">rename</div>
        <div class="htmleditarea">Rich Text Field</div>
        </div> <!-- pagesall -->
              
          
          
        </div>
      </div>
      
      <ul class="displays designonly"></ul>
    </div> <!-- pgdatatabs -->
  </div> 
</script>


<script type="text/template" id="pageddatatemplate">
  <li>
    <div class="pageddatawrapper">
      <div id="makepageddata" title="Paged data (i.e. blog entries, product records, etc.)" class="pageddatawidget pgdtoolwidget designwidget">
        <div class="pageddataicon" data-name="pageddata">          
           <img src="/images/form.png"/>
        </div>
        
      </div>
    </div>
  </li>
</script>