<script type="text/template" id="pageddatawidgettemplate">
  <div class="pageddataall">
    <div class="pagedtop">
      <input type="text" class="pagedtype" placeholder="Record type"/>
      <div class="movehandle">&nbsp;</div>
      <br/>
      <button class="addpaged button black">Add Record</button> <br/>
      <div class="pagedlist"></div>      
    </div>
    <div class="toggletop">↕</div>
    <div class="editcontrols">
      <button class="button black savepaged">Save</button>
    </div>
    
    <div class="widgetcontent">
    </div>
  </div> 
</script>


<script type="text/template" id="pageddatatemplate">
  <li>
    <div class="pageddatawrapper">
      <div id="makepageddata" class="pageddatawidget toolwidget designwidget">
        <div class="pageddataicon" data-name="pageddata"></div>
        records
      </div>
    </div>
  </li>
</script>