<script type="text/template" id="textfieldwidgettemplate">
  <div class="textfieldall field">
    <div class="fieldname"></div>
    <div class="rename">rename</div>
    <input class="textinput" type="text"/>
    <div class="texthtmldisplay"></div>
    <div class="texthtmleditarea">Rich Text Field</div>
  </div> <!-- pagesall -->
</script>


<script type="text/template" id="textfieldtemplate">
  <li>
    <div class="textfieldswrapper">
      <div id="maketextfields" class="textfieldwidget toolwidget designwidget">
        <div class="textfieldicon" data-name="textfield"></div>
        text
      </div>
    </div>
  </li>
</script>