<script type="text/template" id="ethercalcwidgettemplate">
  <div class="ethercalcall">
    <iframe src="http://localhost:8000" width="800" height="500" frameborder="0"></iframe>    
  </div> <!-- pagesall -->
</script>


<script type="text/template" id="ethercalctemplate">
  <li>
    <div class="ethercalcwrapper">
      <div id="makeethercalc" class="ethercalcwidget toolwidget designwidget">
        <div class="ethercalcicon" data-name="ethercalc"></div>
        sheet
      </div>
    </div>
  </li>
</script>