<div id="editorui">

<div id="widgets"></div>

<div id="objs">

<ul id="objlist"></ul>
</div>

<div class="demo">

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Code</a></li>
    <li><a href="#tabs-2">HTML</a></li>
    <li><a href="#tabs-3">CSS</a></li>
  </ul>
  <div id="tabs-1">
    <input type="hidden" id="widgetname"/>
    Code: <br/>
    <textarea id="coffee"></textarea>
  </div>
  <div id="tabs-2">
      HTML: <br/>
      <textarea id="html"></textarea>
  </div>
  <div id="tabs-3">
      CSS: <br/>
      <textarea id="css"></textarea>
  </div>
</div>
<button id="savewidget">Save</button>

</div><!-- End demo -->

</div> <!-- editorui -->
