<div id="editorui">

<div id="widgets"></div>

<div id="objs" class="grad1">

<ul id="objlist"></ul>
</div>

<div class="demo">  
  <div id="nav">
    Select component: <br/>
    <div class="editornotes">
      * = active <br/>
      (drag to change load order) <br/>
      (hover for menu) <br/>
    </div>
    <br/>
    <ul id="components">    
    </ul>
    <button id="savewidget">Save</button>
  </div> 

  <div id="dialogcontent">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Browser</a></li>
        <li><a href="#tabs-2">HTML</a></li>
        <li><a href="#tabs-3">CSS</a></li>
        <li><a href="#tabs-4">Node.js</a></li>
      </ul>
      <div id="tabs-1">
        <input type="hidden" id="widgetname"/>
        CoffeeScript: <br/>
        <textarea id="browser"></textarea>
      </div>
      <div id="tabs-2">
          HTML: <br/>
          <textarea id="html"></textarea>
      </div>
      <div id="tabs-3">
          CSS: <br/>
          <textarea id="css"></textarea>
      </div>
      <div id="tabs-4">
          CoffeeScript: <br/>
          <textarea id="nodejs"></textarea>
      </div>      
    </div>
  </div> <!-- dialogcontent -->

</div><!-- End demo -->

</div> <!-- editorui -->
