<script type="text/template" id="EmailCollectortemplate">
  <div class="widgetsall" data-name="EmailCollector">
    <input type="email" class="saveemail"/>    
  </div> <!-- pagesall -->
</script>


<script type="text/template" id="EmailCollectortooltemplate">
  <li>
    <div class="widgetswrapper">
      <div title="Email collector" id="makeEmailCollector" class="EmailCollectorwidget toolwidget designwidget">
        <div class="Widgeticon" data-name="EmailCollector"><img src="/images/emails.png"/></div>  
      </div>
    </div>
  </li>
</script>