<script type="text/template" id="htmlfieldwidgettemplate">
  <div class="htmlfieldall field">
    <div class="fieldname"></div>
    <div class="rename">rename</div>
    <div class="htmleditarea">Rich Text Field</div>
  </div> <!-- pagesall -->
</script>


<script type="text/template" id="htmlfieldtemplate">
  <li>
    <div class="htmlfieldswrapper">
      <div id="makehtmlfields" class="htmlfieldwidget toolwidget designwidget">
        <div class="htmlfieldicon" data-name="htmlfield"></div>
        text
      </div>
    </div>
  </li>
</script>