.grad1 {
  background-image: linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);
  background-image: -o-linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);
  background-image: -moz-linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);
  background-image: -webkit-linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);
  background-image: -ms-linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(167,206,209)),
    color-stop(0.63, rgb(154,179,179))
  );
}

#objs {
  border: 1px solid #000;
  width: 10%;
  height: 100%;
 
}

#page {
  width: 90%;
  height: 100%;
  left: 10%;
}

#objlist {
  list-style-type: none;
}

#objlist li {
  padding: 5px;
}

#code, #html, #css { 
  width: 800px; 
  height: 300px; 
}

.demo {
  display: none; 
  width: 800px;
  height: 580px;
  overflow: hidden;
}

.toolbutton {
  background-color: #eee;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 35px;
  height: 45px;
  -webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 6px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.75);
  padding: 4px;  
}
 
