@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: normal;
  src: local('Hammersmith One'), local('HammersmithOne'), url('http://themes.googleusercontent.com/static/fonts/hammersmithone/v3/FWNn6ITYqL6or7ZTmBxRhu921tOcMok2fHawGmtxikA.ttf') format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('http://themes.googleusercontent.com/static/fonts/vollkorn/v3/7jR1T900H5YEkd1UcZhA_fesZW2xOQ-xsNqO47m55DA.ttf') format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/TSDaXhyJuDJ-NBU0popSWA.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('http://themes.googleusercontent.com/static/fonts/ubuntu/v4/2Q-AW1e_taO6pHwMXcXW5w.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciC3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
}
