.ipwtexticon {
  width: 19px;
  height: 17px;
  margin: 3px;
}


.sizewidget {
  border: 1px dotted #ccc; 
}


.ipwtextwidget {
  z-index: 5; 

  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;    

}

.ipweditable {
  cursor: text; 
}

