.pageddataicon {
  background-image: url('images/form.png');
  width: 30px;
  height: 30px;
}

.pageddataall {
  position: absolute;
  padding: 15px;
  margin: 15px;
  width: 600px;
  height: 300px;
 }

.movehandle {
  float: right;
  width: 32px;
  height: 32px;
  background-image: url('images/move.png');
}

.editcontrols {
  display: none; 
}

.toggletop {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  cursor: pointer;
}

.pageddataall .widgetcontent {
  border: 1px dotted #ccc;
  position: relative;
  width: 100%;
  height: 100%;
} 

.pagedlist li {
  cursor: pointer; 
}

.pagedlist {
  height: 75px;
  overflow: auto;
}