#recycler {
  font-size: 22pt;
  padding: 0;  
}

.recycle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 0;
  margin-left: 35px;
  width: 75px;
  border: 1px solid #666;
  background-color: #f3f3f3;
  
  -moz-box-shadow: inset 5px -5px 5px #888;
  -webkit-box-shadow: inset -5px 5px 5px #888;
  box-shadow: inset 5px -5px 5px #888;
  
  border-radius: 0px 0px 20px 20px; 
  -moz-border-radius: 0px 0px 20px 20px; 
  -webkit-border-radius: 0px 0px 20px 20px; 
  border-top: 2px solid #000;
}

.rectext {
  margin-top: -10px; 
}