<div id="fileman">
  <div id="filecontrols">
    <input type="text" id="loadfromurl" placeholder="URL of file to download and uncompress"/>
    <button id="getlink" class="button black">Download</button>
    <iframe id="upframe" src="/dyn/upframe"></iframe>
    <button id="refreshdir" class="button black">Refresh</button> <br/><br/>
    <button id="deletesel" class="button black">Delete Selected</button><br/>
    <button id="copysel" class="button black">Copy Selected</button><br/>
    <button id="cutsel" class="button black">Cut Selected</button><br/>
    <button id="pastefiles" class="button black">Paste Files</button>
  </div>
  
  <div id="fileswin">
    <ul id="fsroot"></ul>
  </div>
</div>

