.textfieldwrapper {
  /* width: 150px; */
}

.menudrop {
  float: right; 
  z-index: 510;
  padding-top: 3px;
  padding-right: 2px;
  cursor: pointer;
}

.menudrop.open {
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */   
}

.texthtmldisplay {
  float: left;  
}

.options {
  position: absolute;
  z-index: 5900;
  padding: 5px;
  left: 96%;
  top: 18px;
  background-color: rgba(255,255,255,0.9);
  display: none;
}

.textfieldicon {
  
  width: 19px;
  
}

.textinput {
  width: 420px; 
}

.texthtmleditarea {
  display: none; 
}

.textfieldall {
  position: absolute;  
  padding-bottom: 19px;
  padding-right: 5px;
  margin: 0px;
  border: 1px dotted #aaa; 
 }


.rename {
  float: right; 
  cursor: pointer;
  font-size: 8pt;
}

.fieldname {
  float: right;
  margin-left: 5px;
  font-size: 8pt;
}

.textfieldscontent {

  position: relative;
}

.textfieldscontainer {
  position: relative;
  margin-left: 150px;

}

.textfieldmenu li {
  cursor: pointer; 
  font-family: Ubuntu;
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 15px;
}

.textfieldmenu li:hover {
  color: #fff;
  background-color: #000;
}


.texttoolwidget {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;  
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  border: 1px dotted #000;

  height: 25px;
  padding: 4px; 


  color: #606060;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); 
  margin-left: 10px;
}
