.pageswrapper {
  width: 150px;
}


.pagescontainer {
  margin-left: 150px;
  width: 500px;
  height: 500px;
  border: 1px dotted #000;
}

.pagescontainer div {
  display: none; 
}

.toolwidget {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;  
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  border: 1px dotted #000;

  height: 45px;
  padding: 4px; 
  padding-bottom: 10px;

  color: #606060;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); 
  margin-left: 10px;
}
