
.grad1 {
  background-image: linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);
  background-image: -o-linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);
  background-image: -moz-linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);
  background-image: -webkit-linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);
  background-image: -ms-linear-gradient(bottom, rgb(167,206,209) 25%, rgb(154,179,179) 63%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(167,206,209)),
    color-stop(0.63, rgb(154,179,179))
  );
}


.ui-dialog, .ui-widget-content, .ui-widget {
   background-color: #f2f2f2 !important;
}

.ui-dialog {
  -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
}

#dialogcontent, .ui-tabs-panel {
   background-color: #fff !important; 
}


.CodeMirror {
  font-size: 11pt;
} 

#objs {
  border: 1px solid #666;
  width: 13%;
  height: 100%;
  float: left; 
  padding-right: 15px;
  -moz-box-shadow: inset -5px -5px 5px #888;
  -webkit-box-shadow: inset -5px 0px 5px #888;
  /* 10px -5px 5px */
  box-shadow: inset -5px 0px 5px #888;  
}

#page {
  position: relative;
  border: 1px dotted #aaa;
  width: 86%;
  height: 100%;
  min-height: 700px; 
  top: 0%;
  left: 14%;
}

#objlist {
  list-style-type: none;
}

#objlist li {
  padding: 5px;
}

/*
#code, #html, #css { 
  width: 800px; 
  height: 300px; 
} */

.demo {
  display: none; 
  width: 800px;
  height: 800px;
  overflow: hidden;
  /* position: relative; */
  background-color: #fff;
}

.toolbutton {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 35px;
  height: 45px;
  -webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 6px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.75);
  padding: 4px; 
  padding-bottom: 10px;

  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); 
  margin-left: 10px;
}

.toolbutton.active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
  background: -moz-linear-gradient(top,  #ededed,  #fff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.toolbutton:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.button {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-top: 10px;
  margin-bottom: 10px;
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

/* white */
.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%
}
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
  background: -moz-linear-gradient(top,  #ededed,  #fff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}


#nav {
  background-color: #fff;
  float: left;
  width: 18%;
  margin: 5px;
  margin-right: 15px;
  margin-left: 0px;
  padding: 5px;
}

#dialogcontent {
  width: 79%;
  float: left;  
  position: relative;
  height: 100%;
}

#components li {
  border-bottom: 1px dotted blue;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 10px;
}

#components li:hover {
  background-color: #eee;
}

#selectedcomponent {
  margin-bottom: 10px; 
}

.editornotes {
  font-size: 10pt; 
}

.compmenu {
  float: right; 

}

#savewidget {
  position: absolute;
  top: 90%;
  left: 4%;
}

#editcode {
  margin-left: 15px
}

#publishdesc {
  width: 400px;
}

#giturl {
  width: 400px; 
}

.gituser {  
  float: left;
  display: inline-block;
}

.gitpass {
  float: left;
  display: inline-block;
  padding-left: 25px;
}

.gitrepo {
  clear: left;
}

#publish {
  clear: left; 
}

#pubmsg {
  margin-left: 35px;
  display: inline-block;
}

#objs button {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#savepage img {
  float: left; 
  margin-left: -20px;
}

#editcode img {
  float: left; 
  margin-left: -20px;
}


