<script type="text/template" id="datefieldwidgettemplate">
  <div class="datefieldall field">
    <div class="fieldname"></div>
    <div class="rename">rename</div>
    <input class="dateinput" type="datetime-local"/>
    <div class="datetimedisplay"></div>
    <div class="datetimeeditarea">Datetime</div>
  </div> <!-- pagesall -->
</script>


<script type="date/template" id="datefieldtemplate">
  <li>
    <div class="datefieldswrapper">
      <div id="makedatefields" class="datefieldwidget datetoolwidget designwidget">
        <div class="datefieldicon" data-name="datefield"><img src="/images/datetime.png"/></div>
        
      </div>
    </div>
  </li>
</script>