#fileman {
  display: none;  
}

#loadfromurl {
  width: 350px; 
}

#uploadform {
 display: none; 
}

#upframe {
 display:none;
 height: 75px; 
 overflow: hidden;
}

#fsroot li {
  cursor: pointer; 
}

#refreshdir {
  margin-left: 50px; 
}

.fmupdir {
  background-color: #F5EFB3;  
}

.fmdir {
  background-color: #F5EFB3; 
}

#fileswin {
  height: 250px; 
  background-color: #fff;
  overflow: auto;
}