body, td, th, div, li, p, #page {
  font-family: Ubuntu, sans-serif;
}


.activewidget {
  border: 1px solid orange; 
  box-shadow: inset 1px 1px 1px 1px orange;
}

#container {
  position: relative;
}

#editorui {
  display: none;  
}

#page {
  position: relative;
  min-height: 700px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}