body, td, th, div, li, p, #page {
  font-family: Ubuntu, sans-serif;    
}


#container {
  position: relative;
}

#editorui {
  display: none;  
}

#page {
  position: relative;
  min-height: 700px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}