body, td, th, div, li, p, #page {
  font-family: Ubuntu, sans-serif;
}


.tooltip {
  background-color: black;
  color: white;
  font-size: 10pt;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
  padding: 3px;
  display:none;
  position: absolute;
  z-index: 100;
  text-align: left;
  margin-left: 20px;
  width: 100%;
}


.loggedin .activewidget {
  border: 1px dashed #222; 
  box-shadow: inset 1px 1px 1px 1px #222;
} 

#container {
  position: relative;
}

#editorui {
  display: none;  
}

#page {
  position: relative;
  min-height: 700px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.ui-dialog{font-size: 75.5%;}
