<script type="text/template" id="pageswidgettemplate">
  <div class="pagesall">
    <div class="movepages"></div>
    <ul class="pagesmenu">
      <li>Home <div class="movepagesli"></div></li>
      <li>About <div class="movepagesli"></div></li>
    </ul>
    <button class="addpage black button">Add Page</button>
    <div class="pagescontainer">
      <div class="page-Home pagescontent">
        
      </div>
      <div class="page-About pagescontent">
        
      </div>
    </div>
  </div> <!-- pagesall -->
</script>


<script type="text/template" id="pagestemplate">
  <li>
    <div class="pageswrapper">
      <div id="makepages" class="pageswidget pgtoolwidget designwidget">
        <div class="pagesicon" data-name="pages"><img src="/images/tabs.png"/></div>
        
      </div>
    </div>
  </li>
</script>