<script type="text/template" id="pageswidgettemplate">
  <div class="pagesall">
    <ul class="pagesmenu">
      <li>Home</li>
      <li>About</li>
    </ul>

    <div class="pagescontainer">
      <div class="page-Home pagescontent">
        
      </div>
      <div class="page-About pagescontent">
        
      </div>
    </div>
  </div> <!-- pagesall -->
</script>


<script type="text/template" id="pagestemplate">
  <li>
    <div class="pageswrapper">
      <div id="makepages" class="pageswidget toolwidget designwidget">
        <div class="pagesicon" data-name="pages"></div>
        pages
      </div>
    </div>
  </li>
</script>