.texticon {
  background-image: url(/images/text.png);
  width: 29px;
  height: 26px;
  margin: 3px;
}

.widgetcontainer {
  border: 1px solid #aaa 
}

.textwidget {
  margin: 10px; 
}

.topofwidget {
  display: none; 
}